{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore our online design and development courses. Learn at your own pace, build real-world skills, and boost your career today!">
    <title>Sign Up</title>
    <link rel="icon" type="image/png" href="{% static 'website/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'website/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/styles.css' %}">
</head>
<body>
    <header>
        <button id="promo-button" onclick="window.location.href='/courses/'">
            <span>Free Courses &#127775; Sale Ends Soon, Get It Now</span>
            <i class="fa-solid fa-arrow-right"></i>
        </button>
        <div class="header-block">
            <svg class="logo-icon">
                <use xlink:href="{% static 'website/sprites/sprites_home.svg' %}#main_logo"></use>
            </svg>
            <div>
                <ul class="off-screen-menu">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'courses' %}">Courses</a></li>
                    <li><a href="{% url 'about_us' %}">About Us</a></li>
                    <li><a href="{% url 'pricing' %}">Pricing</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <nav class="desktop-menu">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'courses' %}">Courses</a></li>
                    <li><a href="{% url 'about_us' %}">About Us</a></li>
                    <li><a href="{% url 'pricing' %}">Pricing</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
            <div class="header-buttons">
                <a href="{% url 'signup' %}">Sign Up</a>
                <button class="login-button" onclick="window.location.href='/login/'">Login</button>
                <nav>
                    <div class="burger-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </nav>
            </div>                        
        </div>
    </header>
    <main class="login-main">
        <div class="form-slider-container">
            <section class="form-section">
                <form action="{% url 'signup' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-header">
                        <h1>Sign Up</h1>
                        <p>Create an account to unlock exclusive features.</p>
                    </div>
                    <div class="form-block">                        
                        <div class="form-group">
                            <label for="fullname">Full Name</label>
                            <input type="text" name="fullname" id="fullname" class="form-control" placeholder="Enter your Name" required maxlength="50" value="{{ form.fullname.value|default:'' }}">
                            {% if form.fullname.errors %}
                                <div class="error">{{ form.fullname.errors }}</div>
                            {% endif %}
                        </div>                    
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Enter your Email" required autocomplete="email" value="{{ form.email.value|default:'' }}">
                            {% if form.email.errors %}
                                <div class="error">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>                    
                        <div class="form-group">
                            <label for="password">Password</label>
                            <div class="password-input">
                                <input type="password" name="password" id="password" class="form-control" placeholder="Enter your Password" required autocomplete="current-password" value="{{ form.password.value|default:'' }}">
                                <i class="fa-solid fa-eye eye-icon" id="eye-opened"></i>
                                <i class="fa-solid fa-eye-slash eye-icon eye-hidden" id="eye-closed"></i>
                            </div>
                            {% if form.password.errors %}
                                <div class="error">{{ form.password.errors }}</div>
                            {% endif %}
                        </div>                    
                        <div>
                            <label for="agree" class="checkbox-container">
                                I agree with <a href="https://www.coursera.org/about/terms" target="_blank">Terms of Use</a> and <a href="https://www.coursera.org/about/privacy" target="_blank">Privacy Policy</a>
                                <input type="checkbox" name="agree" id="agree" required>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <button class="login-btn" type="submit">Sign Up</button>
                    </div>
                    <div class="or-divider">
                        <span>OR</span>
                    </div>
                    <button class="google-login">
                        <svg class="google-icon">
                            <use xlink:href="{% static 'website/sprites/sprites_home.svg' %}#google"></use>
                        </svg>
                        Sign Up with Google
                    </button>
                    <p class="form-p">
                        Already have an account? 
                        <a href="{% url 'login' %}">Login
                            <svg>
                                <use xlink:href="{% static 'website/sprites/sprites_home.svg' %}#arrow"></use>
                            </svg>
                        </a>
                    </p>
                </form>
            </section>
            <section class="slider-section">
                <h2>Students Testimonials</h2>
                <p class="section-description">
                    Hear from our students who have transformed their careers through our courses. 
                    From aspiring designers to experienced developers, thousands have trusted us to guide their learning journey.
                </p>
                <div class="slider-container">
                    <div class="testimonials-cards-container" id="testimonials-container"></div>
                    <div id="testimonial-modal" class="modal hidden">
                        <div class="modal-content">
                            <span class="modal-close">&times;</span>
                            <div class="modal-author">
                                <img id="modal-author-img" src="" alt="Author's avatar">
                                <h3 id="modal-author-name"></h3>
                            </div>
                            <p id="modal-review-text"></p>
                        </div>
                    </div>
                    <div class="slider-buttons-container">
                        <button id="slider-left">
                            <i class="fa-solid fa-arrow-left"></i>
                        </button>
                        <button id="slider-right">
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-contacts">
                <svg class="logo-icon">
                    <use xlink:href="{% static 'website/sprites/sprites_home.svg' %}#main_logo"></use>
                </svg>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <a href="mailto:hello@skillbridge.com"><p>hello@skillbridge.com</p></a>
                </div>
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <a href="tel:+9191813232309"><p>+91 91813 23 2309</p></a>
                </div>
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <a href="https://maps.app.goo.gl/Dee3JBHxcksiCeGE7" target="_blank"><p>Somewhere in the World</p></a>
                </div>
            </div>
            <nav class="footer-nav">
                <div class="footer-nav-column">
                    <h2><a href="{% url 'home' %}">Home</a></h2>
                    <ul>
                        <li><a href="{% url 'home' %}#benefits-section">Benefits</a></li>
                        <li><a href="{% url 'home' %}#courses-section">Our Courses</a></li>
                        <li><a href="{% url 'home' %}#testimonials-section">Our Testimonials</a></li>
                        <li><a href="{% url 'home' %}#faq-section">Our FAQ</a></li>
                    </ul>
                </div>
                <div class="footer-nav-column">
                    <h2><a href="{% url 'about_us' %}">About Us</a></h2>
                    <ul>
                        <li><a href="{% url 'about_us' %}">Company</a></li>
                        <li><a href="{% url 'about_us' %}">Achievements</a></li>
                        <li><a href="{% url 'about_us' %}">Our Goals</a></li>
                    </ul>
                </div>
            </nav>
            <div class="footer-social-profiles">
                <h2>Social Profiles</h2>
                <div class="footer-social-icons">
                    <a href="https://www.facebook.com/Coursera" target="_blank">
                        <div>
                            <i class="fa-brands fa-facebook"></i>
                        </div>
                    </a>
                    <a href="https://x.com/coursera" target="_blank">
                        <div>
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/company/coursera" target="_blank">
                        <div>
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2023 Skillbridge. All rights reserved.</p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/9077dc0957.js" crossorigin="anonymous"></script>
    <script src="{% static 'website/scripts/script.js' %}"></script>
</body>
</html>