* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #201c1c;
	display: flex;
	justify-content: center;
}

form {
	max-width: 360px;
	width: 100%;
	background-color: #FFFFFF;
	margin: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 119px 24px 8px 24px;
}

h1 {
	text-align: center;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	display: block;
	color: #000000CC;
}

input {
	height: 48px;
	width: 100%;
	border: 1px solid #00000066;
	border-radius: 10px;
	display: block;
	box-sizing: border-box;
}

#username-email {
	margin-top: 43px;
}

input::placeholder {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}

.forgot-password-link {
	margin-top: 12px;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	text-decoration: none;
	color: #2F89FC;
	display: block;
	height: 21px;
}

.login-button {
	margin-top: 20px;
	height: 48px;
	width: 100%;
	border: none;
	border-radius: 5px;
	background-color: #0E64D2;
	color: #FFFFFFE5;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Poppins', sans-serif;
}

.signup-paragraph {
	margin-top: 16px;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000CC;
}

.signup-link {
	text-decoration: none;
	color: #2F89FC;
}

.or-headline {
	display: flex;
	align-items: center;
	column-gap: 9px;
	margin-top: 17px;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #000000CC;
	width: 100%;
}

.or-headline::before,
.or-headline::after {
	content: '';
	height: 1px;
	width: 45.1%;
	background-color: #00000080;
}

.facebook-login-button {
	position: relative;
	margin-top: 23px;
	height: 48px;
	width: 100%;
	border: none;
	border-radius: 10px;
	background-color: #1877F2;
	color: #FFFFFFE5;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Poppins', sans-serif;
}

.facebook-icon {
	position: absolute;
	height: 26px;
	width: 26px;
	left: 9px;
	top: 7px;
}

.google-login-button {
	position: relative;
	margin-top: 23px;
	height: 48px;
	width: 100%;
	border: 1px solid #00000066;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: #FFFFFF05;
	color: #00000099;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Poppins', sans-serif;
}

.google-icon {
	position: absolute;
	height: 26px;
	width: 26px;
	left: 8px;
	top: 11px;
}

.avatar-logo {
	margin-top: 68px;
	height: 48px;
	width: 48px;
	border: none;
	border-radius: 50%;
}

.input-password {
	width: 100%;
	height: 48px;
	position: relative;
	margin-top: 28px;
}

.eye-password-icon {
	position: absolute;
	height: 24px;
	width: 24px;
	top: 13px;
	left: 86.86%;
}

.eye-password-icon:hover {
	cursor: pointer;
}

.author-paragraph {
	margin: 74px 0 0 6px;
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	opacity: 50%;
	display: block;
	height: 36px;
	width: 100%;
}

.about-author {
	display: flex;
	align-self: flex-start;
}

a:hover, button:hover {
	cursor: pointer;
}