{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="icon" type="image/png" href="{% static 'website/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'website/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/styles.css' %}">
</head>        
<body class="ghost-body">
    <div class="ghost-container">
        <div class="ghost">
            <div class="eyes">
                <div class="eye"></div>
                <div class="eye"></div>
            </div>
        </div>
        <h1>404</h1>
        <p>Ooops! We couldn't find the page you are looking for.</p>
        <a href="{% url 'home' %}">Back to Home</a>
    </div>    
</body>
</html>