body {
	font-family: 'Poppins', sans-serif;
	background-color: #201c1c;
	display: flex;
	justify-content: center;
}

form {
	width: 360px;
	height: 800px;
	background-color: #FFFFFF;
	margin: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

h1 {
	text-align: center;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	margin-top: 119px;
	display: block;
	height: 36px;
	width: 87px;
	color: #000000CC;
}

input {
	width: 312px;
	height: 48px;
	border: 1px solid #00000066;
	border-radius: 10px;
	display: block;
	box-sizing: border-box;
}

#username {
	position: absolute;
	margin-top: 203px;
}

#email {
	position: absolute;
	margin-top: 279px;
}

#phone-number {
	position: absolute;
	margin-top: 355px;
}

input::placeholder {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}

.signup-button {
	position: absolute;
	margin-top: 508px;
	height: 48px;
	width: 312px;
	border: none;
	border-radius: 5px;
	background-color: #0E64D2;
	color: #FFFFFFE5;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Poppins', sans-serif;
}

.login-paragraph {
	position: absolute;
	left: 64px;
	margin-top: 578px;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000CC;
}

.login-link {
	text-decoration: none;
	color: #2F89FC;
	position: absolute;
	left: 258px;
	margin-top: 578px;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
}

.or-headline {
	display: flex;
	align-items: center;
	column-gap: 9px;
	position: absolute;
	margin-top: 620px;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #000000CC;
}

.or-headline::before,
.or-headline::after {
	content: '';
	height: 1px;
	width: 139px;
	background-color: #00000080;
}

.facebook-login-button {
	position: absolute;
	margin-top: 665px;
	height: 48px;
	width: 312px;
	border: none;
	border-radius: 10px;
	background-color: #1877F2;
	color: #FFFFFFE5;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Poppins', sans-serif;
}

.facebook-icon {
	position: absolute;
	height: 26px;
	width: 26px;
	left: 9px;
	top: 7px;
}

.google-login-button {
	position: absolute;
	margin-top: 741px;
	height: 48px;
	width: 312px;
	border: 1px solid #00000066;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: #FFFFFF05;
	color: #00000099;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Poppins', sans-serif;
}

.google-icon {
	position: absolute;
	height: 26px;
	width: 26px;
	left: 8px;
	top: 11px;
}

.input-password {
	position: absolute;
	margin-top: 431px;
}

.eye-password-icon {
	position: absolute;
	height: 24px;
	width: 24px;
	top: 13px;
	left: 271px;
}
