h1 {
	text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  margin: 0 10px;
  height: 200px;
}

.image-container img:first-child {
  margin-left: 0;
}

.image-container img:last-child {
  margin-right: 0;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-container p {
    font-size: 20px;
    font-weight: bold;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 60%;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}